.userteams-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 10vh;
  max-height: 40vh;
  box-sizing: border-box;
  padding: 3vh 1.5vw 0 1.5vw;
  border-bottom: 1px solid gray;
}

.userteams-label-container {
  display: flex;
  justify-content: space-between;
}

.userteams-label-container div:hover {
  cursor: pointer;
}

.userteams-label {
  font-size: 1.3rem;
  box-sizing: border-box;
  width: fit-content;
  padding-bottom: 2vh;
}

.userteams-label:hover {
  cursor: pointer;
}


.userteams-projects-container {
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: scroll;
}

.userteams-projects-container > :not(:first-child) {
  border-top: 1px solid rgba(128, 128, 128, 0.85);
}

.userteams-projects-container::-webkit-scrollbar {
  display: none;
}