.project-container {
  box-sizing: border-box;
  padding: 1vh 0;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-container > div{
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 90%;
}