.workspaceshelf-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  box-sizing: border-box;
  padding: 1vh 1vw;
  border-bottom: 1px solid gray;
}

.workspace-projects-container {
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: scroll;
}

.project-container {
  box-sizing: border-box;
  padding: 1vh 0;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workspace-projects-container:hover {
  cursor: pointer;
}

.workspace-projects-container::-webkit-scrollbar {
  display: none;
}