.taskcard-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 3vw;
  height: 12vh;
  background-color: rgb(239, 239, 239);
  border-bottom: 1px solid lightgray;
}

.taskcard-info {
  min-width: 20vw;
}

.taskcard-info-container {
  display: flex;
  gap: 4vw;
}

.taskcard-members-container {
  display: flex;
}

.taskcard-members-container div{
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  background-color: white;
  border: 3px solid lightgray;
  margin-left: -1.2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.3rem;
}

.taskcard-timer-container {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  gap: 5px;
}

.taskcard-timer-container p,
.taskcard-totaltime-container p {
  font-weight: 700;
  font-size: 1.3rem;
}

.taskcard-timer-container button {
  box-sizing: border-box;
  padding: 5px;
  font-weight: 700;
}

.timer-button {
  border-radius: 5px;
  color: white;
  min-width: 5vw;
}

.taskcard-timer-container p {
  border: 3px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 5vw;
  text-align: center;
}

.start-state {
  border: 3px solid green;
  background-color: rgb(0, 171, 0);
}

.stop-state {
  border: 3px solid darkred;
  background-color: red;
}

.opts-button {
  border-radius: 5px;
  color: white ;
  min-width: 5vw;
}

.pause-state {
  border: 3px solid rgb(38, 38, 38);
  background-color: rgb(116, 116, 116);
}

.resume-state {
  border: 3px solid darkorange;
  background-color: orange;
}

.taskcard-timer-container button:hover {
  cursor: pointer;
}