.register-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
  gap: 1vh;
}

.register-logo-container h1{
  font-size: 5rem;
  margin-bottom: 4vh;
}

.register-form {
  width: 40vw;
  background-color: var(--dark-gray);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5vh 3vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.register-form div {
  display: flex;
  flex-direction: column;
  gap: 0.7vh;
}

.register-info-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
}

.register-info-container div {
  width: 45%;
}

.register-form p {
  color: var(--white);
  font-weight: 600;
  padding-left: 0.5vw;
}

.register-form input {
  height: 4vh;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  padding: 10px;
}

.register-form-submit-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.register-form-submit-container button {
  width: 10vw;
  height: 4vh;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: large;
}